@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
  border: 0;
}

body {
  font-family: "Montserrat", "SUITE", "Noto Sans KR", "sans-serif";
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: #2c2c2c;
}

p,
span {
  color: #454546;
}

/* --------------------------more btn */
#more {
  width: 180px;
  height: 40px;
  /* background-color: rgba(0, 0, 255, 0.37); */
  display: flex;
  justify-content: space-between;
  margin-top: 40%;
  cursor: pointer;
}

#more>p::after {
  display: block;
  content: "";
  width: 170px;
  height: 1px;
  background-color: #2c2c2c;
  margin-top: 10px;
}

#more>p {
  font-size: 12pt;
  font-weight: 400;
}

#more>p>span>img {
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
}

#more:hover>p>span>img {
  animation: view_right 1s infinite alternate;
}

@keyframes view_right {
  to {
    margin-left: 60px;
  }
}

#topBtn {
  width: 40px;
  height: 40px;
  background-color: rgba(238, 238, 238, 0.767);
  position: fixed;
  bottom: 100px;
  right: 5%;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

#topBtn:hover {
  margin-bottom: 30px;
}

#topBtn>img {
  margin-top: 10px;
  margin-left: 5px;
}

/* --------------------header------------------------------------------- */
#header .bottom {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

#header .bottom.current {
  position: fixed;
  left: 0;
  top: 0;
}

#header .bottom:hover {
  background-color: rgb(252, 252, 252);
}

#header .bottom .topInner {
  width: 87%;
  height: 100px;
  margin: 0 auto;
}

#header .bottom .topInner .logo {
  margin-top: 20px;
  float: left;
}

#header .bottom .topInner .gnb {
  display: flex;
  float: left;
  width: 600PX;
  margin-left: 6%;
  transition: all 0.7s;
}

#header .bottom .topInner .gnb>li {
  text-align: center;
  line-height: 100px;
  width: 100px;
  font-size: 14pt;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#header .bottom .topInner .gnb>li a::after {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fec4c3;
  border-radius: 50%;

  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  animation: scaleGnb 1s infinite;
}

#header .bottom .topInner .gnb>li:hover a::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@keyframes scaleGnb {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.5);
  }
}

#header .bottom .topInner .icons {
  width: 120px;
  margin-top: 35px;

  float: right;
  display: flex;
  justify-content: space-between;
}

#header .bottom .topInner .icons>li {
  cursor: pointer;
}

/* ----------------media-------------------------------- */
#section .media {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#section .media .mediaSub {
  width: 100%;
  max-width: 900px;
  height: 0;
}

#section .media video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

/* ----------------wash-------------------------------- */
#section .wash {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#section .wash .washText .washBtnTop {
  display: none;
}

#section .wash .washText {
  width: 530px;
  height: 410px;
  position: absolute;
  top: 150px;
  left: 51%;
}

#section .wash .washText h1 {
  color: #2c2c2c;
  font-size: 30pt;
  margin-bottom: 10px;
}

#section .wash .washText p {
  color: #454546;
  font-size: 12pt;
  line-height: 25px;
}

/* -----------------bubbles---------------------- */
#section .wash .washText .bubbles {
  position: relative;
}

#section .wash .washText .bubbles>span {
  position: absolute;
  animation: bubub 2s infinite alternate;
}

@keyframes bubub {
  to {
    margin-top: 3dvb;
    margin-right: 2%;
  }
}

@keyframes bubub02 {
  to {
    margin-top: 2%;
    margin-right: 3%;
  }
}

@keyframes bubub03 {
  to {
    margin-top: 3%;
  }
}

@keyframes bubub04 {
  to {
    margin-top: 3%;
    margin-right: 2%;
  }
}

/* 아래방울 */
#section .wash .washText .bubbles>span:nth-child(2) {
  top: 120px;
  right: 265px;
}

/* 제일 작은방울 */
#section .wash .washText .bubbles>span:nth-child(1) {
  top: 40px;
  right: 280px;
  animation: bubub02 2s infinite alternate;
}

/* 제일큰방울 */
#section .wash .washText .bubbles>span:nth-child(3) {
  top: 32px;
  right: 180px;
  animation: bubub03 2s infinite alternate-reverse;
}

/* 제일 위 */
#section .wash .washText .bubbles>span:nth-child(4) {
  top: -23px;
  right: 170px;
}

#section .wash .washText .bubbles>span:nth-child(5) {
  top: 95px;
  right: 210px;
  animation: bubub04 2s infinite alternate;
}

/* -----------------washphotos---------------------- */
#section .wash .washPhotos li {
  width: 46%;
  height: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: absolute;
  left: 0;
  top: 13%;
  display: none;
}

#section .wash .washPhotos li.washBig_on {
  display: block;
}

#section .wash .washPhotos .w01 {
  background-image: url("images/wash/w_back06.png");
}

#section .wash .washPhotos .w02 {
  background-image: url("images/wash/w_back04.png");
}

#section .wash .washPhotos .w03 {
  background-image: url("images/wash/w_back02.png");
}

#section .wash .washPhotos .w04 {
  background-image: url("images/wash/w_back03.png");
}

#section .wash .washPhotos .w05 {
  background-image: url("images/wash/w_back05.png");
}

#section .wash .washPhotos .w06 {
  background-image: url("images/wash/w_back01.png");
}

/* -----------------washSmallphotos---------------------- */
#section .wash .washSmallPhotos li {
  position: absolute;
  top: 28%;
  right: -24%;
  width: 36%;
  height: 70%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  opacity: 0.8;
}

#section .wash .washSmallPhotos li.washSmall_on {
  display: block;
}

#section .wash .washSmallPhotos .ws01 {
  background-image: url("images/wash/w_back01.png");
}

#section .wash .washSmallPhotos .ws02 {
  background-image: url("images/wash/w_back06.png");
}

#section .wash .washSmallPhotos .ws03 {
  background-image: url("images/wash/w_back04.png");
}

#section .wash .washSmallPhotos .ws04 {
  background-image: url("images/wash/w_back02.png");
}

#section .wash .washSmallPhotos .ws05 {
  background-image: url("images/wash/w_back03.png");
}

#section .wash .washSmallPhotos .ws06 {
  background-image: url("images/wash/w_back05.png");
}

/* -----------------washItems---------------------- */
#section .wash .washCenter {
  width: 30%;
  height: 470px;
  position: absolute;
  top: 40%;
  left: 51%;
}

#section .wash .washItems {
  position: relative;
  /* width: 30%;
  height: 400px; */
  width: 100%;
  height: 500px;
}

#section .wash .washItems li {
  position: absolute;
  top: 2px;
  left: 0;
  display: none;
  cursor: pointer;
}

#section .wash .washItems li.washItems_on {
  display: block;
}

#section .wash .washItems li>p {
  transform: rotate(-90deg);
  position: absolute;
  /* bottom: 150px; */
  bottom: 130px;
  left: -19px;
  color: #454546;
  width: 100px;
}

#section .wash .washItems li>p::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: gray;
  position: absolute;
  bottom: 8px;
  left: 120px;
}

#section .wash .washItems li>img {
  margin-left: 50px;
}

/* -----------------washBtn---------------------- */
#section .wash .washCenter .washItems li .washSubText .washBtn {
  width: 68%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 140%;
  left: 20px;
  z-index: 3;
  transition: all 0.5s;
}

#section .wash .washCenter .washItems li .washSubText .washBtn>p {
  font-size: 11pt;
  cursor: pointer;
  color: #454546;
}

/* -----------------washSubText---------------------- */

#section .wash .washItems li .washSubText {
  width: 125%;
  height: 70px;
  position: absolute;
  bottom: 33%;
  left: 112%;
}

#section .wash .washItems li .washSubText>h2 {
  font-size: 16pt;
  font-weight: 300;
  margin-bottom: 10px;
  color: #2c2c2c;
  transition: all 0.7s;
}

#section .wash .washItems li .washSubText>h3 {
  font-size: 13pt;
  font-weight: 300;
  color: #454546;
  transition: all 0.7s;
}

/* ----------------scrub-------------------------------- */
#section .scrub {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#section .scrub .scrubBack {
  width: 100%;
  /* height: 85%; */
  height: 93%;
  background-image: url(images/scrub/scrub_back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------------------------scrubLeft */
#section .scrub .scrubBack .scrubLeft {
  width: 30%;
  height: 360px;
  padding-top: 10%;
  margin-left: 7%;
}

#section .scrub .scrubBack .scrubLeft .scrubText>h1 {
  color: #2c2c2c;
  font-size: 30pt;
  margin-bottom: 10px;
  width: 250px;

}

#section .scrub .scrubBack .scrubLeft .scrubText>p {
  color: #454546;
  font-size: 12pt;
  line-height: 25px;
}

/* --------------------------------scrubItems */
#section .scrub .scrubItems {
  width: 1330px;
  position: absolute;
  top: 34.5%;
  left: 30%;
  overflow: hidden;
  transition: all 0.7s;

}

#section .scrub .scrubItems>ul.scrubLists {
  width: 2370px;
  height: 390px;
  /* margin-left: -386px; */
}

#section .scrub .scrubItems>ul.scrubLists>li {
  float: left;
  width: 386px;
  height: 240px;
  cursor: pointer;
}

/* #section .scrub .scrubItems>ul>li>p { */
#section .scrub .scrubItems>ul.scrubLists>li>p {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  transition: all 0.4s;

  display: inline-block;
}

#section .scrub .scrubItems>ul>li.s_01>p {
  background-image: url("images/scrub/scrub03.png");
}

#section .scrub .scrubItems>ul>li.s_02>p {
  background-image: url("images/scrub/scrub01.png");
}

#section .scrub .scrubItems>ul>li.s_03>p {
  background-image: url("images/scrub/scrub02.png");
}

#section .scrub .scrubItems>ul>li.s_04>p {
  background-image: url("images/scrub/scrub06.png");
}

#section .scrub .scrubItems>ul>li.s_05>p {
  background-image: url("images/scrub/scrub05.png");
}

#section .scrub .scrubItems>ul>li.s_06>p {
  background-image: url("images/scrub/scrub04.png");
}

/* scrubInnerText */
#section .scrub .scrubItems .scrubInnerText>h1 {
  font-size: 17pt;
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: 400;
}

#section .scrub .scrubItems .scrubInnerText>span {
  font-size: 15pt;
  margin-top: 15%;
  margin-bottom: 2%;
  font-weight: 300;
}

/* scrubIndi */
#section .scrub .scrubIndi {
  width: 65%;
  height: 5px;
  position: absolute;
  bottom: 5%;
  left: 30%;
  transition: all 0.7s;
}

#section .scrub .scrubIndi>li:hover,
#section .scrub .scrubIndi>li.s_indiOn {
  background-color: #fec4c3;
  cursor: pointer;
}

#section .scrub .scrubIndi>li {
  width: 15%;
  height: 5px;
  background-color: #d0ccc9;
  float: left;
}

/* ----------------butter-------------------------------- */

#section .butter {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

/* butterLeft */
#section .butter .butterLeft {
  width: 30%;
  height: 360px;
  padding-top: 10%;
  margin-left: 7%;
}

#section .butter .butterLeft .butterText>h1 {
  font-size: 33pt;
  margin-bottom: 10px;
  width: 300px;
}

#section .butter .butterLeft .butterText span {
  color: #2c2c2c;
}

#section .butter .butterLeft .butterText>p {
  color: #454546;
  font-size: 12pt;
  line-height: 25px;
}

/*butterPerson */
#section .butter>p {
  position: absolute;
  top: 5%;
  left: 25%;

  width: 30%;
  height: 100%;
  z-index: -1;
  background-image: url("images/butter/butterperson.png");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.7s;
}

#section .butter>p>img {
  width: 100%;
  height: auto;
}

/* butterItems */
#section .butterItems {
  width: 665px;
  height: 83%;
  position: absolute;
  top: 120px;
  right: 8%;
  transition: all 0.7s;
}

#section .butterItems>li {
  width: 45%;
  height: 380px;
  text-align: center;
  position: relative;
  float: left;
  margin: 6px;
  border: 5px;
}

/* butterSubText */
#section .butterItems>li .butterSubText {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

#section .butterItems>li .butterSubText>span {
  color: #454546;
}

#section .butterItems>li .butterSubText>h2 {
  font-size: 15pt;
  font-weight: 400;
  color: #2c2c2c;
}

/* butterItems card */
#section .butterItems>li .card>img {
  border-radius: 5px 5px 0 0;
}

#section .butterItems>li .card {
  position: absolute;
  top: 0px;
  right: 0px;

  transition: all 0.5s;
  backface-visibility: hidden;
}

#section .butterItems>li .front {
  z-index: 2;
}

#section .butterItems>li .back {
  z-index: 1;
  transform: rotateY(-180deg);
}

#section .butterItems li:hover .front {
  z-index: 1;
  transform: rotateY(180deg);
}

#section .butterItems li:hover .back {
  z-index: 2;
  transform: rotateY(0deg);
}

/* ----------------lip-------------------------------- */

#section .lip {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* ---------------------------------------------------lipText */
#section .lip .lipLeft {
  width: 30%;
  height: 360px;
  padding-top: 10%;
  margin-left: 7%;
}


#section .lip .lipLeft .lipText>h1 {
  width: 240px;

  font-size: 33pt;
  margin-bottom: 10px;
}

#section .lip .lipLeft .lipText>p {
  font-size: 12pt;
  line-height: 25px;
}

/* ----------------lipItems-------------------------------- */

#section .lip .lipItems {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 28%;
  left: 30%;
  z-index: -1;
  transition: all 0.7s;
}

#section .lip .lipItems>li.lip_on {
  display: block;
}

#section .lip .lipItems>li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#section .lip .lipItems>li>img {
  float: left;
  transform: rotate(10deg);

  animation: liplip 2s infinite alternate-reverse;
}

@keyframes liplip {
  to {
    transform: rotate(-10deg);
  }
}

/* lipInnerText */
#section .lip .lipItems>li>.lipInnerText {
  float: left;
  margin-left: 20%;
}

#section .lip .lipItems>li>.lipInnerText>h1 {
  font-size: 17pt;
  font-weight: 400;
  margin-top: 18px;
}

#section .lip .lipItems>li .lipInnerText>p {
  font-size: 16pt;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 18px;
}

#section .lip .lipItems>li>.lipInnerText>span {
  font-size: 13pt;
  font-weight: 300;
}

/* lipBack */
#section .lip .lipItems>li>.lipBack {
  width: 700px;
  height: 500px;
  float: right;
  margin-top: -10%;
}

#section .lip .lipItems>li>.lipBack .lipSmall {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: -150px;
  position: absolute;
  bottom: 10%;
  right: 40%;

  animation: lipSamll 3s infinite alternate-reverse;
}

#section .lip .lipItems>li>.lipBack .lipBig {
  width: 400px;
  height: 400px;
  border-radius: 50%;

  position: absolute;
  top: 140px;
  right: 12%;
  z-index: -1;
  animation: lipBig 1s infinite alternate-reverse;
}

@keyframes lipSamll {
  to {
    transform: translateX(-10px);
  }
}

@keyframes lipBig {
  to {
    transform: translateY(-10px);
  }
}

#section .lip .lipItems .lip01 .lipBack .lipBig {
  background-color: rgb(221, 118, 118);
}

#section .lip .lipItems .lip01 .lipBack .lipSmall {
  background-color: #e13234;
}

#section .lip .lipItems .lip02 .lipBack .lipBig {
  background-color: #fe627e;
}

#section .lip .lipItems .lip02 .lipBack .lipSmall {
  background-color: #ffefef;
}

#section .lip .lipItems .lip03 .lipBack .lipBig {
  background-color: #fee1e2;
}

#section .lip .lipItems .lip03 .lipBack .lipSmall {
  background-color: #01ceba;
}

/* lipPhotos */
#section .lipPhotos {
  width: 511px;
  height: 700px;

  position: absolute;
  top: 20%;
  right: 8%;
  z-index: -1;
  overflow: hidden;
  transition: all 0.7s;

}

#section .lipPhotos .lip_lists {
  height: 1140px;
  width: 511px;
}

#section .lipPhotos .lip_lists>li {
  width: 511px;
  height: 340px;
  margin-bottom: 40px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section .lip .lipItems>li>img {
  transition: all 0.2s;
}

#section .lipPhotos ul li.lip01 {
  background-image: url("images/lip/l_person01.png");
}

#section .lipPhotos ul li.lip02 {
  background-image: url("images/lip/l_person02.png");
}

#section .lipPhotos ul li.lip03 {
  background-image: url("images/lip/l_person03.png");
}

/* lipTitle */
#section .lipTitle {
  width: 60%;
  position: absolute;
  bottom: 18%;
  left: 20.5%;
  z-index: 2;
  transition: all 0.7s;

}

#section .lipTitle .secondP {
  margin-left: 19%;
}

#section .lipTitle .firstSpan {
  color: #2c2c2c;
}

#section .lipTitle>p {
  color: #2c2c2c;
  font-size: 4em;
  font-weight: 500;
}

#section .lipTitle .secondSpan {
  color: #fdfdfd;
  font-weight: 800;
  animation: beautyColor 1s infinite alternate;
}

@keyframes beautyColor {
  to {
    color: #2c2c2c;
  }
}

/* ----------------info-------------------------------- */

#section .info {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

#section .info .textCircle {
  position: absolute;
  top: 12%;
  right: -21%;
  transition: all 0.7s;
}

#section .info .textCircle>img {
  width: 100%;
  animation: textRing 20s infinite linear;
}

@keyframes textRing {
  to {
    transform: rotate(-360deg);
  }
}

/* infoPerson */
#section .info #bottomFooter {
  height: calc(100vh - 280px);
  width: 100%;
}

#section .info #bottomFooter .infoPerson {
  width: 702px;
  position: absolute;
  left: 5%;
  bottom: 35%;
  height: 485px;
  z-index: -5;
}

#section .info .infoPerson>img {
  width: 100%;
  height: auto;
}

/* infoText */
#section .info .infoText {
  width: 870px;
  height: 350px;
  position: absolute;
  right: 11%;
  top: 18%;
  transition: all 0.7s;
}

#section .info .infoText>ul {
  height: 40%;
  width: 90%;
  margin-top: -50px;
}

#section .info .infoText>ul>li {
  transition: all 0.3s;
  float: left;
  margin: 0 15px;
  margin-bottom: 20px;
}

#section .info .infoText>ul>li>img {
  width: 85%;
}

#section .info .infoText>ul>li:hover {
  margin-top: -10px;
}

#section .info .infoText>p {
  font-size: 17pt;
  font-weight: 200;
  line-height: 32px;
  margin-bottom: 6%;
  letter-spacing: 1px;
  padding: 40px 20px;
  border-radius: 2px;
}

#section .info .infoText>p.tabletText {
  display: none;
}

/* footer */
#section .info #footer {
  height: 280px;
  width: 100%;
  background-color: #18170c;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.7s;

}

#section .info #footer p {
  color: #f3f3f4;
  font-weight: 300;
}

#section .info #footer span {
  color: #f3f3f4;
  font-weight: 300;
}

/* footerText */
#section .info .footerText {
  width: 87%;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#section .info #footer .footerLeft {
  width: 40%;
  margin-top: 3%;
}

#section .info #footer div p {
  font-size: 11pt;
  font-weight: 200;
  line-height: 26px;
}

#section .info #footer .footerRight {
  width: 17%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#section .info #footer .footerRight .f_subLeft>span {
  font-weight: 700;
}


@media all and (max-width: 1850px) {


  /* ----------------media-------------------------------- */
  #section .media {
    /* height: 0;
    padding-bottom: 56.25%; */
  }

  #section .media .mediaSub {
    /* width: 100%; */
  }

  #section .media video {
    /* width: 100%; */

  }

  /* ----------------wash-------------------------------- */
  #section .wash {
    height: 850px;

    background-color: #ffffff;
  }


  #section .scrub {
    height: 850px;
  }


  /* butter */
  #section .butter {
    height: 1000px;

  }

  #section .butter>p {
    width: 60%;
    left: -2%;
  }

  #section .butterItems {
    top: 170px;


  }

  /* lip */
  #section .lip {
    height: 950px;
    overflow: hidden;
    z-index: -1;
  }

  #section .lip .lipItems {
    width: 50%;
    height: 70%;
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: -1;
  }

  #section .lipTitle {
    left: 7%;
  }

  #section .lip .lipItems>li>.lipBack {
    width: 500px;
    height: 500px;
    float: right;
    margin-top: -10%;
  }

  #section .lip .lipItems>li>.lipBack .lipSmall {
    right: 30%;
  }

  #section .lip .lipItems>li>.lipBack .lipBig {
    right: 0;
  }

  #section .lipPhotos {
    top: 33%;
  }

  #section .lip .lipItems>li>img {
    margin-top: 1%;
    margin-left: 25%;
  }

  #section .lip .lipItems>li>.lipInnerText {
    width: 600px;
    margin-left: 20%;
    margin-top: -320px;
    display: flex;
    justify-content: space-between;
  }

  #section .lip .lipItems>li>.lipInnerText>span {
    font-size: 12pt;
    font-weight: 400;
    margin-top: 25px;
  }

  #section .lip .lipItems>li>.lipInnerText>p {
    display: none;
  }


  /* info */
  #section .info {
    height: 950px;
  }

  #section .info .infoText>ul>li.thirdImg {
    margin-left: 70px;
  }

  #section .info .infoText {
    width: 500px;
    top: 15%;
  }

  #section .info .infoText>p {
    display: none;
  }

  #section .info .infoText>p.tabletText {
    display: block;
    text-align: center;
    margin-left: -50px;
  }

}




@media all and (min-width: 1201px) and (max-width: 1850px) {

  /* butter */
  #section .butter .butterLeft .butterText>h1>span {
    color: #f3f3f3;
    animation: butterColor 1s infinite alternate;
  }

  @keyframes butterColor {
    to {
      color: #2c2c2c;
    }
  }

}

@media all and (min-width: 1201px) and (max-width: 1520px) {
  #section .butterItems {
    top: 170px;
  }

  #section .butter>p {
    width: 40%;
  }
}


@media all and (min-width: 768px) and (max-width: 1400px) {
  /* butter */

  #more {
    width: 250px;
  }

  #more>p::after {
    width: 250px;
    height: 2px;
    margin-top: 20px;
  }

  #more>p {
    font-size: 14pt;
    font-weight: 600;
  }

  #more>p>span>img {
    display: inline-block;
    margin-top: 6px;
    margin-left: 100px;
  }

  #more:hover>p>span>img {
    animation: view_right 1s infinite alternate;
  }

  @keyframes view_right {
    to {
      margin-left: 120px;
    }
  }


  #section .lip .lipLeft .lipText>p,
  #section .scrub .scrubBack .scrubLeft .scrubText>p {
    display: none;
  }

  #header .bottom,
  #header .bottom .topInner {
    height: 80px;
  }

  #header .bottom .topInner .logo {
    margin-top: 5px;
    float: left;
    margin-left: 3%;
  }

  #header .bottom .topInner .gnb {
    width: 60%;
    margin: 0 4%;
  }

  #header .bottom .topInner .gnb>li {
    line-height: 80px;
  }


  #header .bottom .topInner .icons {
    margin-top: 2.7%;
    float: left;
    display: flex;
    justify-content: space-between;
  }

  /* scrub */
  #section .scrub .scrubBack {
    height: 95%;
  }

  #section .scrub .scrubIndi {
    bottom: 20%;
    left: 38%;
  }

  #section .scrub .scrubItems {
    top: 30%;
    left: 40%;
  }


  /* wash */

  #section .wash .washSmallPhotos li {
    right: -35%;
  }

  /* lip */
  #section .lip .lipLeft .lipBtn {
    margin-top: 10%;
  }

  #section .lip .lipItems>li>.lipInnerText {
    margin-top: -380px;
  }

  #section .lip .lipItems>li>.lipInnerText>span {
    font-size: 12pt;
    font-weight: 400;
    margin-top: 25px;
  }

  #section .lipPhotos {
    height: 350px;
  }

  #section .lipTitle {

    width: 80%;
    bottom: 14%;
    left: 7%;
  }

  #section .lipTitle .secondP .firstSpan {
    color: #fdfdfd;
    font-weight: 800;
    animation: beautyColor02 1s infinite alternate;
  }

  @keyframes beautyColor02 {
    to {
      color: #2c2c2c;
    }
  }

  /* info */
  #section .info {
    height: 800px;
  }

  #section .info .infoText>p,
  #section .info .infoText>p.tabletText {
    display: none;
  }


  /* bottomFooter */
  #section .info #bottomFooter .infoPerson {
    top: 4%;
  }

  #section .info #footer {
    height: 140px;
    padding: 30px 0;
  }

  #section .info .footerText {
    height: 0;
  }

  #section .info #footer .footerLeft {
    width: 40%;
    margin-top: 0%;
  }

  #section .info #footer div p {
    font-size: 10pt;
    line-height: 20px;
  }

  #section .info #footer .footerRight {
    width: 25%;
    margin-top: 3%;
  }

  #section .info #footer .footerText .footerLeft .footerTablet {
    display: none;
  }



}


@media all and (min-width: 1201px) and (max-width:1399px) {
  #section .info .infoText {
    right: 0%;
    top: 35%;
  }

}

@media all and (min-width: 830px) and (max-width:1200px) {

  /* butter */
  #section .butter {
    height: 1200px;
  }

  #section .butter .butterLeft .butterText P {
    width: 300px;
  }

  #section .butter .butterLeft .butterBtn {
    display: none;
  }

  #section .butterItems {
    width: 800px;
    right: 0;
    left: 0;
    top: 20%;
    margin: 0 auto;
  }

  #section .butter>p {
    display: none;
  }

  #section .butterItems>li {
    height: 440px;
    text-align: center;
    position: relative;
    margin: 20px;
    text-align: center;
  }

  #section .butterItems>li .card>img {
    width: 350px;
  }

  #section .butterItems>li:nth-child(3),
  #section .butterItems>li:nth-child(4) {
    display: block;
  }

  #section .butterItems>li .butterSubText {
    bottom: 10px;
    z-index: 2;
    transition: all 0.5s;
  }



  #section .info .textCircle {
    top: 2%;
    right: 0%;
    left: 50%;
  }

  #section .info .textCircle>img {
    width: 100%;
  }

  #section .info .textCircle,
  #section .info #bottomFooter .infoPerson {
    left: 50%;
    transform: translateX(-50%);
  }


  #section .info .infoText {
    display: none;
  }

}

@media all and (max-width:1065px) {

  /* wash */
  #section .wash .washCenter .washItems li .washSubText .washBtn {
    top: -300px;
    left: -220px;
    z-index: 3;
  }

  #section .wash .washSubText>h3,
  #section .wash .washSubText>h2 {
    display: none;
  }

  #section .wash .washSmallPhotos li {
    right: -24%;
  }

  /* top */
  #header .bottom .topInner {
    display: flex;
    justify-content: space-between;
  }

  #header .bottom .topInner .gnb {
    display: none;
  }

  /* lip */

  #section .lip .lipItems>li>.lipInnerText {
    width: 320px;
    margin-left: 40%;
  }

  #section .lip .lipItems>li>.lipInnerText>span {
    display: none;
  }

  #section .lip .lipItems>li>img {
    opacity: 0;
  }

  #section .lip .lipItems>li>.lipBack .lipBig,
  #section .lip .lipItems>li>.lipBack .lipSmall {
    display: none;
  }


  #section .info #footer .footerText .footerRight {
    width: 25%;
  }

}


@media all and (max-width: 829px) {
  #section .info #bottomFooter .infoPerson {
    left: 50%;
    transform: translateX(-50%);
  }

  #section .info .infoText {
    display: none;
  }
}

@media all and (min-width: 701px) and (max-width: 828px) {

  #header .bottom {
    background-color: rgba(255, 255, 255, 0.192);
  }

  #topBtn {
    width: 20px;
    height: 20px;
    background-color: rgba(238, 238, 238, 0.767);
  }

  #topBtn>img {
    width: 20px;
    margin-top: 5px;
    margin-left: 0px;
  }

  /* butter */
  #section .butterItems {
    width: 800px;
    right: 0;
    left: 0;
    top: 20%;
    margin: 0 auto;
  }

  #section .butter>p {
    display: none;
  }

  #section .butterItems>li {
    width: 300px;
    height: 380px;
    text-align: center;
    margin: 20px;
  }

  #section .butter .butterLeft .butterBtn {
    display: none;
  }

  #section .butterItems {
    width: 680px;
    right: 0;
    left: 0;
  }

  #section .butterItems>li:nth-child(3),
  #section .butterItems>li:nth-child(4) {
    display: block;
  }

  #section .butterItems>li .butterSubText {
    bottom: 10px;
    z-index: 2;
    transition: all 0.5s;
  }


  #section .butter .butterLeft .butterText>p,
  #section .info .infoTex>p,
  #section .info .infoTex>ul {
    display: none;
  }


  #section .info .textCircle {
    top: 0%;
    left: 45%;
    right: 0;
    transform: translateX(-50%);
  }

  #section .info .textCircle>img {
    /* width:100%; */
    width:500px;
  }

}


@media all and (max-width:767px) {

  #topBtn {
    width: 20px;
    height: 20px;
    background-color: rgba(238, 238, 238, 0.767);
  }

  #topBtn>img {
    width: 20px;
    margin-top: 5px;
    margin-left: 0px;
  }

  #section .media {
    height: 100%;
  }

  /* scrub */

  #section .scrub .scrubBack .scrubLeft .scrubText>h1 {
    font-size: 28pt;
    margin-bottom: 0;
    margin-top: 85px;
  }

  #section .scrub .scrubBack .scrubLeft .scrubText>p {
    display: none;
  }

  #section .scrub .scrubBack {
    height: 85%;
  }

  #section .scrub .scrubItems {
    width: 1330px;
    left: 5%;
    top: 40%;

  }

  #section .scrub .scrubItems>ul.scrubLists {
    width: 3000px;
    height: 280px;
  }

  #section .scrub .scrubItems>ul.scrubLists>li {
    width: 450px;
    position: relative;
  }

  #section .scrub .scrubItems .scrubInnerText {
    background-color: #f5f5f55e;
    position: absolute;
    top: 0;
    right: 10px;
    width: 170px;
    height: 220px;
    padding: 40px 18px;
    box-sizing: border-box;
  }

  #section .scrub .scrubItems .scrubInnerText>h1 {
    font-size: 15pt;
    margin-bottom: 10px;
  }

  #section .scrub .scrubItems .scrubInnerText>span {
    font-size: 12pt;
    line-height: 21px;
  }

  #section .scrub .scrubIndi {
    left: 25%;
  }

  /* wash */

  #section .wash .washText .washBtnTop {
    display: block;
  }

  #section .wash .washText {
    width: 450px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 5%;
  }

  #section .wash .washText h1 {
    font-size: 28pt;
  }

  #section .wash .washText .washBtnTop {
    position: absolute;
    bottom: 0px;
    right: -10px;
  }

  #section .wash .washPhotos li {
    width: 90%;
    height: 60%;
    top: 200px;
  }

  #section .wash .washSmallPhotos li {
    width: 5%;
    height: 55%;
    top: 35%;
    right: 0;
  }

  #section .wash .washText>p,
  #section .wash .washText .bubbles,
  #section .wash .washCenter {
    display: none;
  }



  /* lip */
  #section .lip .lipLeft .lipText>h1 {
    font-size: 28pt;
    margin-bottom: 0;
    margin-top: 85px;
  }

  #section .lip .lipLeft .lipBtn {
    display: none;
  }

  #section .lip .lipLeft .lipText>p {
    display: none;
  }

  #section .lip .lipItems {
    height: 10%;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
  }

  #section .lip .lipItems>li>.lipInnerText {
    width: 240px;
    margin-left: 1%;
    margin-top: 0%;
  }

  #section .lip .lipItems>li>.lipBack {
    width: 100px;
    height: 500px;
    float: left;
    margin-top: -10%;
  }

  #section .lip .lipItems>li>.lipBack,
  #section .lip .lipItems>li>img {
    display: none;

  }

  #section .lip .lipItems>li>.lipInnerText {
    float: left;
    margin: 0;
  }

  #section .lip .lipItems>li>.lipInnerText>h1 {
    font-size: 14pt;
    margin-top: 0px;
    font-weight: 600;
    position: relative;
    margin-left: 0;
  }

  #section .lipPhotos {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #section .lipTitle {
    width: 80%;
    left: 20%;
    bottom: 5%;

  }

  #section .lipTitle>span,
  #section .lipTitle>p {
    font-size: 2.5em;
    color: #fdfdfd;
  }

  #section .lipTitle .secondP .firstSpan {
    color: #fdfdfd;
    animation: beautyColor02 1s infinite alternate;
  }

  @keyframes beautyColor02 {
    to {
      color: #2c2c2c;
    }
  }

  #section .butter {
    height: 1050px;
  }

  /* footer */

  #section .info {
    height: 780px;
    margin-top: 50px;
  }

  #section .info #bottomFooter .infoPerson {
    top: 0%;
  }

  #section .info #footer {
    height: 140px;
    padding: 30px 0;
  }

  #section .info .footerText {
    height: 0;
  }

  #section .info #footer .footerLeft {
    width: 40%;
    margin-top: 0%;
  }

  #section .info #footer div p {
    font-size: 10pt;
    line-height: 20px;
  }

  #section .info #footer .footerText .footerRight {
    width: 35%;
    margin-top: 3%;
  }

  #section .info #footer .footerText .footerLeft .footerTablet {
    display: none;
  }

}


@media all and (max-width: 700px) {
  #header .bottom {
    background-color: rgba(255, 255, 255, 0.192);
  }

  #section .media {
    min-height: 500px;
    padding-bottom: 0;
  }

  #section .media video {
    height: 500px;
  }

  /* butter */
  #section .butter .butterLeft .butterBtn {
    display: none;
  }

  #section .butter>p {
    display: none;
  }

  #section .butterItems {
    width: 389px;
    height: auto;
    right: 0;
    left: 0;
    top: 13%;
    margin: 0 auto;
  }


  #section .butterItems>li {
    width: 350px;
    height: 430px;
    text-align: center;
    margin: 20px;
  }


  #section .butterItems>li .card>img {
    width: 350px;
  }

  #section .butterItems>li:nth-child(3),
  #section .butterItems>li:nth-child(4) {
    display: block;
  }

  #section .butterItems>li .butterSubText {
    bottom: 10px;
    z-index: 2;
    transition: all 0.5s;
  }


  #section .butter .butterLeft .butterText>p {
    display: none;
  }


  #section .info .textCircle {
    /* top: 3%; */
    top: 0;
    width: 480px;
  }

  #section .info .textCircle>img {
    width: 100%;
  }

  #section .info .textCircle {
    left: 50%;
    transform: translateX(-50%);
  }

}